.Combatant {
  width:67px;
  height: 14px;
  background: url("/images/ui/SingleMemberDisplay.png") no-repeat no-repeat;
  position: absolute;
}

.Combatant[data-team="player"] {
  left: 46px;
  top: 70px;
}

.Combatant[data-team="enemy"] {
  top: 28px;
  right: 77px;
}

.Combatant_character_crop {
  position: absolute;
  bottom: 1px;
  left: 3px;
  width: 22px;
  height: 12px;
  overflow: hidden;
}