.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  font-size: 12px;
  padding: 4px;
  background: var(--menu-background);
  border-top: var(--menu-border-color);
  color: var(--menu-font-color);
}